
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.rr {
    color: white;
    height: 6px;
    width: 50%;
    background: linear-gradient(90deg, rgb(2, 255, 2), rgb(0, 0, 255), rgb(255, 89, 0), rgb(0, 242, 255), rgb(0, 255, 132), rgb(225, 0, 255), rgb(2, 255, 2));
    border-radius: 50%;
    animation: gradientMove 4s linear infinite;
    background-size: 200% 100%;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0D1117;
  flex-direction: column;
    gap: 50px;
}
.cradite {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0D1117;
  color: #fff;
  
}

#time {
  display: flex;
  gap: 45px;
  color: #fff;
}

#time .circle {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#time .circle svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
}

#time .circle svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke: #a2a1a1;
  stroke-width: 4px;
  transform: translate(5px, 5px);
}

#time .circle svg circle:nth-child(2) {
  stroke: var(--hamza);
  stroke-dasharray: 440;
}

#time div {
  position: absolute;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}
.time-text {
  font-size: 1.2rem;
  font-weight: 200;
}

#time div span {
  position: absolute;
  transform: translate(-50%, 0px);
  font-size: 0.5rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

#time .ap {
  position: relative;
  font-size: 1rem;
  transform: translate(-20px);
}

.dots {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.dots::before {
  content: '';
  position: absolute;
  top: -3px;
  width: 15px;
  height: 15px;
  background: var(--hamza);
  border-radius: 50%;
  box-shadow: 0 0 20px var(--hamza), 0 0 60px var(--hamza  );
}